@page "/counter"
@attribute [RenderModeAuto]

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<AuthorizeView>
    <Authorized>
        Authorized
    </Authorized>
    <NotAuthorized>
        <NavLink href="/Identity/Account/Register">Register</NavLink>
        <NavLink href="/Identity/Account/Login">Login</NavLink>
    </NotAuthorized>
</AuthorizeView>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
