@page "/counter"
@attribute [RenderModeAuto]

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<hr />

<EditForm Model="Input" OnSubmit="HandleSubmit">
    <InputText id="test" @bind-Value="Input.Text" />
    <button type="submit">Submit</button>
</EditForm>

<p>Input.Text: @Input.Text</p>
<p>submittedText: @submittedText</p>

<hr />

<AuthorizeView>
    <Authorized>
        <p>Authorized as @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>Unauthorized</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}

@code {
    [SupplyParameterFromForm]
    public InputModel Input { get; set; } = new();

    public class InputModel
    {
        public string? Text { get; set; }
    }

    private string? submittedText = "";

    private void HandleSubmit()
    {
        submittedText = Input.Text;
    }
}
